<html>
  <head></head>
    <meta http-equiv = 'Content-Type' content = 'text/html; charset=UTF-8'>
    <title>Matcha</title>
    <link rel="stylesheet" href="../layout/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body style="background: linear-gradient(#FD4D52, #892B8B);">
    <div class="wrapper">
        <h1 style="font-weight:200;font-size:45px;">Matcha</h1>
        <p>You have requested to change your password.</p>
        <p>Please Click <a href="http://localhost:<%=port%>/changepass?vkey=<%= vkey%>">Here</a> to change your account password</p>
        </div>
    <footer>
        <div class="content has-text-centered">
        <p style="color:white;">
            <strong style="color:white;">Matcha</strong> by J.T.A.B <a href="https://github.com/BrandonSwanepoel/Matcha"></a>
        </p>
        </div>
    </footer>
  </body>
</html>