<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Matcha</title>
    <link rel="stylesheet" href="../layout/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  		<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  		<script src="http://code.jquery.com/jquery-latest.min.js"></script>
  </head>
  <script>document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
      
        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {
      
          // Add a click event on each of them
          $navbarBurgers.forEach( el => {
            el.addEventListener('click', () => {
      
              // Get the target from the "data-target" attribute
              const target = el.dataset.target;
              const $target = document.getElementById(target);
      
              // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
              el.classList.toggle('is-active');
              $target.classList.toggle('is-active');
      
            });
          });
        }
      
      });</script>
       <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <a class="navbar-item">
                <img src="/images/h.png" width="50" height="100">
              </a>
              <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
            <div id="navbarBasicExample" class="navbar-menu">
              <div class="navbar-end">
                <div class="navbar-item">
                  <div class="buttons">
                    <a href="/register" class="button is-primary">
                      <strong>Sign up</strong>
                    </a>
                  </div>
                </div>
              </div>
            </div>
         
          </nav>
  <body style="height:100vh;background: linear-gradient(#FD4D52, #892B8B);" >
    <div class="wrapper">
        <h1 style="font-weight:200;font-size:45px;">Welcome</h1>
        
         <!-- login -->
         <div class="login-page">
        <div class="field">
            <!--Form start-->
            <form action="/" method="POST">
            <p class="control has-icons-left has-icons-right">
                
                    <h3 style="color:rgb(255, 255, 255)"><%= errlog %></h3>
                    
                    <br />
                <input name="enter_username" class="input" type="text" placeholder="Username">
                <span class="icon is-small is-left">
                
            </p>
            </div>
            <div class="field">
            <p class="control has-icons-left">
                <input name="enter_password" class="input" type="password" placeholder="Password">
                <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
                </span>
            </p>
            </div>
            <div class="field">
            <p class="control">
                <div id="login" class="control" style="padding-bottom:1%"><button class="button is-link" type="submit" name="submit">login</button></div>
                <script src="../public/chats.js"></script>
            </p>
                </div>
            </form>
        </div>
            <a href="/forgotpass"><button class="button is-link" style="float:left; color:#ffff; background:firebrick;">Forgot Password</button></a>
                
            </div>
            </section>
    <footer >
            <div class="content has-text-centered">
            <p style="color:white;">
                <strong style="color:white;">Matcha</strong> by J.T.A.B <a href="https://github.com/BrandonSwanepoel/Matcha"></a>
            </p>
            
    </footer>
</body>